body{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    background-color: rgb(204, 204, 204);
}
button{
    width: 63px;
    height: 63px;
    background-color: #7b7f80;
    border-radius: 30px;
    border: 0px;
    font-size: 30px;
    color: white;
}

.calculator{
    display: flex;
    width: 301.5px;
    height: 526.5px;
    justify-content: center;
    align-items: flex-end;
    background-color: #505356;
    border-radius: 15px;
    position: relative;
}
#buttons{
    margin-top: px;
    margin-bottom: 15px;
}
#firstAndLastRow,#num{
    display: flex;
    justify-content: flex-end;
    gap: 7.5px;
    margin-bottom: 7.5px;
}
#num{
    margin-bottom: 45px;
    color: white;
    font-size: 52.5px;

}
#row{
    display: flex;
    gap: 7.5px;
    margin-bottom: 7.5px;
}

/* COLOR OF BUTTONS */
#clear{
    font-size: 25.5px;

    background-color: #989b9d;

}
#divides,#multiplies,#substracts,#adds,#equal{
    background-color: #ff9601;

}

/* CLOSE AND MINIMIZE WINDOW BUTTON */

#window{
    display: flex;
    gap: 15px;
    position: absolute;
    top: 15px;    
}
#window div{
    border-radius: 45px;
    width: 18px;
    height: 18px;
}
#first{
    background-color: #fe5f57;
}
#second{
    background-color: #febb2d;
}
#third{
    background-color: #6b6c6d;
}
