body{
    display: flex;
    justify-content: center;
}
button{
    width: 45px;
    height: 45px;
    background-color: #7b7f80;
}

.calculator{
    display: flex;
    width: 201px;
    height: 351px;
    justify-content: center;
    align-items: flex-end;
    background-color: #505356;
}
#firstAndLastRow,#result{
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    margin-bottom: 5px;
}
#result{
    margin-bottom: 30px;
}
#row{
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}

/* COLOR OF BUTTONS */
#clear{
    background-color: #989b9d;
}
#divides,#multiplies,#substracts,#adds,#equal{
    background-color: #ff9601;
}

